<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timelordtty.dca.mapper.IndicatorDailyMapper">

    <resultMap id="BaseResultMap" type="com.timelordtty.dca.model.IndicatorDaily">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="trade_date" property="tradeDate"/>
        <result column="window_days" property="windowDays"/>
        <result column="pct_rank" property="pctRank"/>
        <result column="q_buy_price" property="qBuyPrice"/>
        <result column="q_mid_price" property="qMidPrice"/>
        <result column="q_high_price" property="qHighPrice"/>
        <result column="peak_close" property="peakClose"/>
        <result column="drawdown_from_peak" property="drawdownFromPeak"/>
        <result column="ma20" property="ma20"/>
        <result column="ma60" property="ma60"/>
        <result column="boll_middle" property="bollMiddle"/>
        <result column="boll_upper" property="bollUpper"/>
        <result column="boll_lower" property="bollLower"/>
        <result column="boll_std" property="bollStd"/>
        <result column="boll_window" property="bollWindow"/>
        <result column="kdj_k" property="kdjK"/>
        <result column="kdj_d" property="kdjD"/>
        <result column="kdj_j" property="kdjJ"/>
        <result column="kdj_rsv" property="kdjRsv"/>
        <result column="kdj_window" property="kdjWindow"/>
    </resultMap>

    <select id="selectByProductId" resultMap="BaseResultMap">
        SELECT * FROM indicator_daily
        WHERE product_id = #{productId}
        <if test="windowDays != null">
            AND window_days = #{windowDays}
        </if>
        <if test="startDate != null">
            AND trade_date &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND trade_date &lt;= #{endDate}
        </if>
        ORDER BY trade_date DESC
    </select>

    <select id="selectLatest" resultMap="BaseResultMap">
        SELECT * FROM indicator_daily
        WHERE product_id = #{productId}
        <if test="windowDays != null">
            AND window_days = #{windowDays}
        </if>
        ORDER BY trade_date DESC
        LIMIT 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO indicator_daily (
            product_id, trade_date, window_days, pct_rank, q_buy_price,
            q_mid_price, q_high_price, peak_close, drawdown_from_peak,
            ma20, ma60, boll_middle, boll_upper, boll_lower, boll_std, boll_window,
            kdj_k, kdj_d, kdj_j, kdj_rsv, kdj_window, created_at
        ) VALUES (
            #{productId}, #{tradeDate}, #{windowDays}, #{pctRank}, #{qBuyPrice},
            #{qMidPrice}, #{qHighPrice}, #{peakClose}, #{drawdownFromPeak},
            #{ma20}, #{ma60}, #{bollMiddle}, #{bollUpper}, #{bollLower}, #{bollStd}, #{bollWindow},
            #{kdjK}, #{kdjD}, #{kdjJ}, #{kdjRsv}, #{kdjWindow}, NOW()
        )
        ON DUPLICATE KEY UPDATE
            pct_rank = VALUES(pct_rank),
            q_buy_price = VALUES(q_buy_price),
            q_mid_price = VALUES(q_mid_price),
            q_high_price = VALUES(q_high_price),
            peak_close = VALUES(peak_close),
            drawdown_from_peak = VALUES(drawdown_from_peak),
            ma20 = VALUES(ma20),
            ma60 = VALUES(ma60),
            boll_middle = VALUES(boll_middle),
            boll_upper = VALUES(boll_upper),
            boll_lower = VALUES(boll_lower),
            boll_std = VALUES(boll_std),
            boll_window = VALUES(boll_window),
            kdj_k = VALUES(kdj_k),
            kdj_d = VALUES(kdj_d),
            kdj_j = VALUES(kdj_j),
            kdj_rsv = VALUES(kdj_rsv),
            kdj_window = VALUES(kdj_window)
    </insert>

    <update id="update">
        UPDATE indicator_daily
        SET pct_rank = #{pctRank},
            q_buy_price = #{qBuyPrice},
            q_mid_price = #{qMidPrice},
            q_high_price = #{qHighPrice},
            peak_close = #{peakClose},
            drawdown_from_peak = #{drawdownFromPeak},
            ma20 = #{ma20},
            ma60 = #{ma60},
            boll_middle = #{bollMiddle},
            boll_upper = #{bollUpper},
            boll_lower = #{bollLower},
            boll_std = #{bollStd},
            boll_window = #{bollWindow},
            kdj_k = #{kdjK},
            kdj_d = #{kdjD},
            kdj_j = #{kdjJ},
            kdj_rsv = #{kdjRsv},
            kdj_window = #{kdjWindow}
        WHERE id = #{id}
    </update>

</mapper>
